<h1>List of Places</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Actions</th>
  </tr>
  <% @places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td><%= place.latitude %></td>
      <td><%= place.longitude %></td>
      <td><%= link_to 'Show', place_path(place) %> | <%= link_to 'Edit', edit_place_path(place) %> | <%= link_to 'Delete', place_path(place), method: 'delete' %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add Place', new_place_path, class: 'button small radius' %>
